.body {
    background-image: url(/assets/d9nxb51-15279a4e-0024-4c57-a5e9-d1f2578c2bbf.gif);
}

.botones {
    display: flex;

}

#btnAtaque1 {
    display: none;
    margin-right: 4px;
    background-color: rgb(155, 6, 6);
    color: bisque;
    border-radius: 10px;
    border-color: black;
    border: 4px;
    padding: 5px;
    margin: 1.5em;

}

#btnAtaque2 {
    display: none;
    background-color: rgb(155, 6, 6);
    color: bisque;
    border-radius: 10px;
    border-color: black;
    border: 4px;
    padding: 5px;
    margin: 1.5em;
}

#btnAtaque3 {
    display: none;
    background-color: rgb(155, 6, 6);
    color: bisque;
    border-radius: 10px;
    border-color: black;
    border: 4px;
    padding: 5px;
    margin: 1.5em;
}

#btnComenzar {
    display: none;
    background-color: rgb(155, 6, 6);
    color: bisque;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border: 4px;
    padding: 5px;
    margin: 1.5em;
}

.btnPj {
    background-color: rgb(155, 6, 6);
    color: bisque;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border: 4px;
    padding: 5px;
    margin: 1.5em;
}

#btnPocima {
    display: none;
    background-color: rgb(155, 6, 6);
    color: bisque;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border: 4px;
    padding: 5px;
    margin: 1.5em;
}

#btnSeleccionarEnemigo {
    display: none;
    background-color: rgb(155, 6, 6);
    color: bisque;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border: 4px;
    padding: 5px;
    margin: 1.5em;
}

#btnTurnoEnemigo {
    display: none;
    background-color: rgb(155, 6, 6);
    color: bisque;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border: 4px;
    padding: 5px;
    margin: 1.5em;
}

.cardsMonstruos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin: auto;
}

.cardsPersonajes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin: auto;
    margin-top: 100px;
}

.consola {
    border-radius: 190px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    max-height: 600px;
    z-index: -1;
}

.div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.divImg {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

.divTexto {
    font-size: larger;
    text-align: center;
    text-shadow: 2px 0px 2px black;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.header{
    margin-bottom: 50px;
}
.img1 {
    margin: auto;
    max-height: 15em;
    position: absolute;
    z-index: 1;
}

.indicadoresVida {
    display: flex;
}

.lifePj {
    padding: 5px;
    ;
    border: 1px;
    border-radius: 8px;
    background-color: rgb(155, 6, 6);
    color: bisque;
    margin-top: 5em;
    margin-right: 5em;
}

.lifeMonster {
    padding: 5px;
    ;
    border: 1px;
    border-radius: 8px;
    background-color: rgb(155, 6, 6);
    color: bisque;
    margin-top: 5em;
    margin-left: 5em;
}

.parrafo {
    color: antiquewhite;
    font-size: larger;
}
.parrafito{
    display: flex;
    flex-direction: column;
}
#personajes {
    display: flex;
    margin: 1em;
}

.subtitulo{
    display: flex;
    margin-top: 50px;
    margin-left: 25px;
    color: aliceblue;
    text-shadow: 2px 0px 2px black;
}

.titulo{
    display: flex;
    margin-top: 50px;
    margin-left: 25px;
    color: aliceblue;
    text-shadow: 2px 0px 2px black;
}

.btn {
    border-color: black;
    border: 4px;
}